@model List<Comment>
@{
}
<table class="table table-hover container my-3">

    <thead>

    <th>Id</th>
    <th>Entry Id</th>
    <th>Writer Id</th>
    <th>Content</th>
    <th>Release Date</th>
    <th>Statu</th>
    <th>Operations</th>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CommentId</td>
                <td>@item.EntryId</td>
                <td>@item.WriterId</td>
                <td>@item.CommentContent</td>

                <td>@item.CommentReleaseDate</td>
                <td>
                    @if (item.CommentStatus==true)
                    {
                        <div class="bg-success text-center text-white rounded container my-3">Active</div>
                    }
                    else
                    {
                        <div class="bg-danger text-center text-white rounded container my-3">Passive</div>
                    }


                </td>

                <td>
                    <div class="btn btn-group">
                        <a class="btn btn-warning text-black" type="submit" asp-action="UpdateComment" asp-area="Admin" asp-controller="Comment" asp-route-id="@item.CommentId"><i class="fa-solid fa-question"></i> Change The Status</a>
                        <a class="btn btn-outline-danger text-black" type="submit" asp-action="DeleteComment" asp-area="Admin" asp-controller="Comment" asp-route-id="@item.CommentId">Delete <i class="fa-solid fa-trash"></i></a>




                    </div>


                </td>



            </tr>
        }


    </tbody>




</table>
